.articleformLbl{
  background-color: #fff7e7;
}
.eventCard button:hover {
  background-color: #E37D64;
  color:#FFF7E7;
}
.EventSubmitButton {
    background-color: #e37d64;
    color: #fff7e7;
    height: 38px;
    margin-top: 2rem;
    
}
.eventCardContainer.container {
  display: flex;
    width:50%;
}

.Eventcard {
  flex-direction: row;
    color: #fff7e7;
    width: 30rem;
    margin-bottom: 2rem;
    border: 2px solid #2b3b3b !important;
    border-radius: 6px !important;
    background-color: #2b3b3b !important;
    box-shadow: 0 4px 8px 0 #888888, 0 6px 20px 0 #888888;
    margin-top: 1rem;
}

.eventDeleteButton .eventEditButton {
  background-color: #E37D64;
  color: #FFF7E7;

}

.eventEditButton {
  margin-left: 2rem;
}
