.taskCardContainer.container {
    display: flex;
    width:50%;
}

.taskCard {
    flex-direction: row;
    color: #fff7e7;
    width: 30rem;
    margin-bottom: 2rem;
    border: 2px solid #2b3b3b !important;
    border-radius: 6px !important;
    background-color: #2b3b3b !important;
    box-shadow: 0 4px 8px 0 #888888, 0 6px 20px 0 #888888;
}

.taskCardBody {
    flex-direction: row;
}

.taskDeleteButton.btn.btn-custom {
    background-color: #e37d64;
    color: #fff7e7;  
}