.new-freind-text {
    background-color: #2b3b3b;
    color: #fff7e7; 
    font-size: 20px;
}

.add-friend-btn {
    background-color: #e37d64;
    color: #fff7e7;  
    margin-left: .5rem;
    height: 30px;
    font-size: 20px;
    
}

