.dashboardContainer {
    background-color: #2b3b3b;  
    color: #fff7e7
}


.dashboardCol {
    display: flex;
    flex-direction: row;
  
}

.btn.btn-custom {
    background-color: #e37d64;
    color: #fff7e7;   
}

#contained-modal-title-vcenter.modal-title.h4 {
    color: #fff7e7; 
   
}


.beandon {
    width: 40px;
    height: 40px;
    margin-left: .5rem;
}

.userCol {
    margin-top: 1.25rem;
    margin-left: 1rem;
    font-size: 20px;
}